<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <div class="content-wrapper b-white">
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
      <div class="page-header pt-3">
        <div  class="d-sm-flex align-items-baseline report-summary-header w-100 mt-3">
          <h4 class="font-weight-semibold text-initial ">{{ 'logs.titre-logs-plateforme' | translate}}  </h4>
          <span  class="ml-auto ">
            <button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/logs-menu">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}} </button>
            <button type="button" class="btn btn-warning  btn-icon btn-sm mb-1 btn-h-35 d-inline ml-1" (click)="methodesGlobal.afficher('alert-codes')">
              <i class="icon-info"></i>
            </button>
            <button class="btn btn-info btn-sm ml-1 mb-1" (click)="ExportTOExcel();"><i class="fa fa-file-excel-o"></i> {{'btn-export'| translate }}</button>
              </span>
        </div>
      </div>
      <div class="row">
        <div class="example-container w-100">
          <div class="card-header   b-white">
            <mat-form-field class="w-75">
              <input (keyup)="applyFilter(methodesGlobal.getValue(texteFiltre.value))"
                     matInput placeholder="{{ 'filtre-text' | translate}}" id="textFiltre" name="textFiltre" #texteFiltre >
            </mat-form-field>
          </div>
          <!-- section pour afficher les url des logs -->
          <div class="alert alert-success cacherVisible" id="alert-urlLog">
            <button type="button" (click)="methodesGlobal.nonAfficher('alert-urlLog')" class="alert-dismissible close">&times;</button>
            <strong id="urlLog"></strong>
          </div>
          <!-- section pour afficher les url des logs -->
          <div class=" cacherVisible" id="alert-codes">
            <blockquote class="blockquote blockquote-warning">
              <button type="button" (click)="methodesGlobal.nonAfficher('alert-codes')" class="alert-dismissible close">&times;</button>
              <ul class="list-inline">
                <li *ngFor="let code of codes " class="list-inline-item">{{code}}</li>
              </ul>
            </blockquote>
          </div>
          <div class="table-responsive w-100">
            <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100" id="table-rapport" >

              <!-- ID Column -->
              <ng-container matColumnDef="numero" >
                <th *matHeaderCellDef mat-sort-header="numero"  class="font-weight-bold w-10 p-3"> {{ 'numero' | translate}} </th>
                <td *matCellDef="let row" class="w-10 p-3" > {{row.numero}} </td>
              </ng-container>

              <!-- plateforme Column -->
              <ng-container matColumnDef="plateforme">
                <th *matHeaderCellDef mat-sort-header class="font-weight-bold w-10"> {{ 'plateforme' | translate}} </th>
                <td  *matCellDef="let row" class="w-10" > {{row.plateforme}} </td>
              </ng-container>

              <!-- url Column -->
              <ng-container matColumnDef="url">
                <th *matHeaderCellDef mat-sort-header  class="font-weight-bold w-10 pr-1"> {{ 'URL' | translate}} </th>
                <td  *matCellDef="let row" class="w-10">
                  <button type="button" class="btn btn-primary btn-rounded btn-icon btn-sm" (click)="afficherUrlSection(row.plateforme,row.url)"   >
                    <i class="icon-eye"></i>
                  </button>
                </td>
              </ng-container>
              <!-- annee Column -->
              <ng-container matColumnDef="annee">
                <th *matHeaderCellDef mat-sort-header  class="font-weight-bold w-10 pr-1"> {{ 'annee' | translate}} </th>
                <td  *matCellDef="let row" class="w-10 pr-1"> {{row.annee}} </td>
              </ng-container>
              <!-- message Column -->
              <ng-container matColumnDef="message">
                <th *matHeaderCellDef mat-sort-header  class="font-weight-bold w-40 pr-1"> {{ 'reponse' | translate}} </th>
                <td  *matCellDef="let row" class="w-40 pr-1"> {{row.message}} </td>
              </ng-container>

              <!-- Derniere modification -->
              <ng-container matColumnDef="dateA">
                <th *matHeaderCellDef mat-sort-header  class="font-weight-bold w-10"> {{ 'dateA' | translate}} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.dateA | date:'short': 'fr'}} </td>
              </ng-container>
              <!-- Consulter Column -->
              <ng-container matColumnDef="supprimer" >
                <th *matHeaderCellDef   class="font-weight-bold w-10 pr-1"> {{ 'supprimer' | translate}} </th>
                <td  *matCellDef="let row" class="w-10 text-center pr-1">
                  <button type="button" class="btn btn-danger btn-rounded btn-icon btn-sm" title="Supprimer la fiche" (click)="addValue(row.idLog)" data-toggle="modal" data-target="#modal-supprimer" >
                    <i class="icon-trash"></i>
                  </button>
                </td>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </table>

            <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
            <!-- creation  du tableau pour export-->
            <table  class="table table-bordered cacherVisible"  id="table-logs-plateformes" >
              <tr><th *ngFor="let th of displayedColumns ">{{th}}</th></tr>
              <tr *ngFor="let col of listeLogs">
                <td *ngFor="let rep of displayedColumns">{{col[rep]}}</td></tr>
            </table>
          </div>
          </div>
        </div>
      </div>
    <input type="hidden" id="idLog" name="idRevue" #idLog value="">
    <!-- Modal pour supprimer-->
    <div class="modal fade" id="modal-supprimer" tabindex="-1" role="dialog" aria-labelledby="modal-enregistrer" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-supprimer-Label">{{'message.supprimer-titre'| translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            {{'message.supprimer-text'| translate}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"  data-dismiss="modal"> <i class="icon-close btn-icon-prepend"></i> {{'btn-annuler'| translate}}</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteLogsPLateforme(this.methodesGlobal.getValue(idLog.value))" data-dismiss="modal" ><i class="fa fa-trash btn-icon-prepend"></i> {{'btn-supprimer'| translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin note -->
    <div class="noVisible" *ngFor="let log of logs$ | async"></div>
    <!-- Contenu footer -->
    <app-footer></app-footer>
  </div>
</div>
