/* styles drag-drop et loader définis dans style_add.css */

/* Cellules spécifiques aux tableaux de rapport */
th, td {
  min-height: 40px;
  height: auto;
  border-right: 1px solid #d5d0d0;
}
mat-row       { height: auto; min-height: 40px!important; }
mat-header-row{ background: #b3b0b045; }
