<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <div class="content-wrapper b-white">
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
      <div class="page-header pt-3">
        <div  class="d-sm-flex align-items-baseline report-summary-header w-100 mt-3">
          <h4 class="font-weight-semibold text-initial ">{{ 'processus.titre-processus-details' | translate}}  </h4>
          <span  class="ml-auto ">
            <button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/processus">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}}
            </button>
            <button class="btn btn-info ml-1 btn-sm mb-1" (click)="methodesGlobal.ExportTOExcel('tableau-processus','liste-processus-details.xlsx');"><i class="fa fa-file-excel-o"></i> {{'btn-export'| translate }}
            </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="example-container w-100 p-3">
          <div class="search-bar-wrapper mb-3">
            <i class="icon-magnifier search-bar-icon"></i>
            <input class="search-bar-input"
                   #texteFiltreDetails
                   (keyup)="applyFilter(methodesGlobal.getValue(texteFiltreDetails.value))"
                   placeholder="{{ 'filtre-text' | translate }}"
                   id="texteFiltreDetails" name="texteFiltreDetails">
            <button class="search-bar-clear" *ngIf="texteFiltreDetails.value"
                    (click)="texteFiltreDetails.value=''; applyFilter('')" aria-label="Effacer">
              &times;
            </button>
          </div>
          <div class="table-responsive w-100">
            <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100" >
              <!-- ID Column -->
              <ng-container matColumnDef="numero" >
                <th *matHeaderCellDef mat-sort-header class="mat-w-10 pl-2"> {{ 'numero' | translate}} </th>
                <td *matCellDef="let row" class="mat-w-10 pl-2" > {{row.numero}} </td>
              </ng-container>

              <!-- plateforme Column -->
              <ng-container matColumnDef="idRevue">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'idRevue' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" >
                  <span  *ngIf="row.idRevue=='!!!'" class="text-danger">{{row.idRevue}}</span>
                  <span  *ngIf="row.idRevue!='!!!'" >{{row.idRevue}}</span>
                   </td>
              </ng-container>

              <!-- ISSN Column -->
              <ng-container matColumnDef="ISSN">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'ISSN' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" >
                  <span class="text-danger" *ngIf="row.ISSN=='!!!'">{{row.ISSN}}</span>
                  <span  *ngIf="row.ISSN!='!!!'">{{row.ISSN}}</span>
                 </td>
              </ng-container>

              <!-- EISSN Column -->
              <ng-container matColumnDef="EISSN">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'EISSN' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" > {{row.EISSN}} </td>
              </ng-container>

              <!-- EISSN Column -->
              <ng-container matColumnDef="titre">
                <th *matHeaderCellDef mat-sort-header  class="col-titre"> {{ 'titre' | translate}} </th>
                <td  *matCellDef="let row" class="col-titre">
                  <span class="text-danger" *ngIf="row.idRevue=='!!!'">{{'non-periodique' | translate}}</span>
                  <span  *ngIf="row.idRevue!='!!!'">{{row.titre}}</span>
                </td>
              </ng-container>


              <!-- rapport Column -->
              <ng-container matColumnDef="dateA">
                <th *matHeaderCellDef mat-sort-header  class="mat-w-20"> {{ 'dateA' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-20"> {{row.dateA}} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="col-actions text-center">Actions</th>
                <td *matCellDef="let row" class="col-actions text-center">
                  <div class="actions-wrapper">
                    <button type="button" class="btn btn-dark btn-rounded btn-icon btn-sm"
                            *ngIf="row.idRevue!='!!!'"
                            title="{{'fiche-periodique'| translate}}"
                            routerLink="/periodique/{{row.idRevue}}">
                      <i class="icon-note"></i>
                    </button>
                    <span *ngIf="row.idRevue==='!!!'" class="btn-placeholder"></span>
                    <button type="button" class="btn btn-danger btn-rounded btn-icon btn-sm"
                            title="Supprimer la ligne"
                            (click)="confirmerSuppression(row.id_details, row.titre)">
                      <i class="icon-trash"></i>
                    </button>
                  </div>
                </td>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </table>

            <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <!-- fin note -->
    <div class="noVisible" *ngFor="let proces of processus$ | async"></div>
    <!-- creation  du tableau pour export-->
    <table  class="table table-bordered cacherVisible"  id="tableau-processus" >
      <tr><th *ngFor="let th of displayedColumns ">{{th}}</th></tr>
      <tr *ngFor="let col of listeProcessus">
        <td *ngFor="let rep of displayedColumns">{{col[rep]}}</td></tr>
    </table>
    <!-- Animation de chargement -->
    <div *ngIf="isLoading" class="loading-container">
      <div class="spinner">
        <svg viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="20" />
        </svg>
      </div>
    </div>
    <!-- Fin animation:  Contenu footer -->
    <!-- Contenu footer -->
    <app-footer></app-footer>
  </div>
</div>
