<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <div class="content-wrapper b-white">
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
      <div class="page-header pt-3">
        <div  class="d-sm-flex align-items-baseline report-summary-header w-100 mt-3">
          <h4 class="font-weight-semibold text-initial ">{{ 'processus.titre-processus-details' | translate}}  </h4>
          <span  class="ml-auto ">
            <button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/processus">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}} </button>
              </span>
        </div>
      </div>
      <div class="row">
        <div class="example-container w-100 p-3">
          <div class=" b-white mb-5">
            <mat-form-field class="w-75">
              <input (keyup)="applyFilter(methodesGlobal.getValue(texteFiltre.value))"
                     matInput placeholder="{{ 'filtre-text' | translate}}" id="textFiltre" name="textFiltre" #texteFiltre >
            </mat-form-field>
          </div>
          <div class="table-responsive w-100">
            <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100" >
              <!-- ID Column -->
              <ng-container matColumnDef="numero" >
                <th *matHeaderCellDef mat-sort-header class="mat-w-10 pl-2"> {{ 'numero' | translate}} </th>
                <td *matCellDef="let row" class="mat-w-10 pl-2" > {{row.numero}} </td>
              </ng-container>

              <!-- plateforme Column -->
              <ng-container matColumnDef="idRevue">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'idRevue' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" > {{row.idRevue}} </td>
              </ng-container>

              <!-- ISSN Column -->
              <ng-container matColumnDef="ISSN">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'ISSN' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" > {{row.ISSN}} </td>
              </ng-container>

              <!-- EISSN Column -->
              <ng-container matColumnDef="EISSN">
                <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'EISSN' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10" > {{row.EISSN}} </td>
              </ng-container>

              <!-- EISSN Column -->
              <ng-container matColumnDef="titre">
                <th *matHeaderCellDef mat-sort-header  class="mat-w-20"> {{ 'titre' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-20">
                  <span class="text-danger" *ngIf="!row.idRevue">{{'non-periodique' | translate}}</span>
                  {{row.titre}}
                </td>
              </ng-container>


              <!-- rapport Column -->
              <ng-container matColumnDef="dateA">
                <th *matHeaderCellDef mat-sort-header  class="mat-w-20"> {{ 'dateA' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-20"> {{row.dateA}} </td>
              </ng-container>

              <!-- Fiche periodique -->
              <ng-container matColumnDef="fiche" >
                <th *matHeaderCellDef   class="mat-w-10 text-center"> {{ 'consulter' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10 text-center">
                  <button type="button" class="btn btn-dark btn-rounded btn-icon btn-sm" *ngIf="row.idRevue" title="{{'fiche-periodique'| translate}}" routerLink="/periodique/{{row.idRevue}}" >
                    <i class="icon-note"></i>
                  </button>
                </td>
              </ng-container>

              <!-- supprimer Column -->
              <ng-container matColumnDef="supprimer" >
                <th *matHeaderCellDef   class="mat-w-10 text-center"> {{ 'btn-supprimer' | translate}} </th>
                <td  *matCellDef="let row" class="mat-w-10 text-center">
                  <button type="button" class="btn btn-danger btn-rounded btn-icon btn-sm" title="Supprimer la ligne" (click)="methodesGlobal.addValueInput(row.id_details,'id_details')" data-toggle="modal" data-target="#modal-supprimer" >
                    <i class="icon-trash"></i>
                  </button>
                </td>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </table>

            <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="id_details" name="id_details" #id_details value="">
    <!-- Modal pour supprimer-->
    <div class="modal fade" id="modal-supprimer" tabindex="-1" role="dialog" aria-labelledby="modal-enregistrer" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-supprimer-Label">{{'message.supprimer-titre'| translate}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            {{'message.supprimer-text'| translate}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"  data-dismiss="modal"> <i class="icon-close btn-icon-prepend"></i> {{'btn-annuler'| translate}}</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteProcessusDetails(this.methodesGlobal.getValue(id_details.value))" data-dismiss="modal" ><i class="fa fa-trash btn-icon-prepend"></i> {{'btn-supprimer'| translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin note -->
    <div class="noVisible" *ngFor="let proces of processus$ | async"></div>
    <!-- creation  du tableau pour export-->
    <table  class="table table-bordered cacherVisible"  id="tableau-processus" >
      <tr><th *ngFor="let th of displayedColumns ">{{th}}</th></tr>
      <tr *ngFor="let col of listeProcessus">
        <td *ngFor="let rep of displayedColumns">{{col[rep]}}</td></tr>
    </table>
    <!-- Contenu footer -->
    <app-footer></app-footer>
  </div>
</div>
