<!-- section menu -->
<nav class="sidebar sidebar-offcanvas pt-4 " id="sidebar">
  <ul class="nav mt-5">
    <li  class="{{classeMenu['accueil']}}">
      <a class="nav-link" routerLink="/accueil">
        <span class="nav-link">{{ 'menu.accueil' | translate}}</span>
        <i class="icon-home menu-icon"></i>
      </a>
    </li>
    <li class="{{classeMenu['periodique/liste']}}">
      <a class="nav-link" routerLink="/periodique/liste">
        <span class="nav-link">{{ 'menu.rechercher' | translate}}</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="{{classeMenu['statistique']}}">
      <a class="nav-link" routerLink="/liste-statistique">
        <span class="nav-link">{{ 'menu.statistique' | translate}}</span>
        <i class="icon-graph menu-icon"></i>
      </a>
    </li>
     <li class="{{classeMenu['rapport']}}">
      <a class="nav-link" data-toggle="collapse" href="#raports" aria-expanded="false" aria-controls="ui-basic">
        <span class="nav-link">{{ 'menu.rapport' | translate}}</span>
        <i class="icon-arrow-down menu-icon"></i>
      </a>
      <div class="collapse" id="raports">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/rapport-periodique">{{ 'menu.rapport-periodique' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rapport-statistique">{{ 'menu.rapport-statistique' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/rapport-plateforme">{{ 'menu.rapport-plateforme' | translate}}</a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="this.ifAdmin" class="{{classeMenu['importation']}}">
      <a class="nav-link" data-toggle="collapse" href="#importation" aria-expanded="false" aria-controls="importation">
        <span class="nav-link">{{ 'menu.importation' | translate}}</span>
        <i class="icon-arrow-down menu-icon"></i>
      </a>
      <div class="collapse" id="importation">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/importation-sushi">{{ 'menu.importation-sushi' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/importation-inCites">{{ 'menu.importation-InCites' | translate}}</a></li>
          <!--<li class="nav-item"> <a class="nav-link" routerLink="/importation-excel">{{ 'menu.importation-excel' | translate}}</a></li>-->
        </ul>
      </div>
    </li>
    <li *ngIf="this.ifAdmin" class="{{classeMenu['outils']}}">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="nav-link">{{ 'menu.outils' | translate}}</span>
        <i class="icon-arrow-down menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/plateformes">{{ 'menu.list-plateforme' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/list-fonds">{{ 'menu.list-fonds' | translate}}</a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="this.ifAdmin" class="{{classeMenu['logs-menu']}}">
      <a class="nav-link" routerLink="/logs-menu">
        <span class="nav-link">{{ 'menu.logs' | translate}}</span>
        <i class="icon-bell menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- fin section menu -->
