<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <div class="content-wrapper b-white">
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
        <div class="page-header pt-4">
          <div  class="d-sm-flex align-items-baseline report-summary-header w-100">
              <h5 class="font-weight-semibold text-uppercase ">{{ 'archive-titre' | translate}} « {{titrePeriodique}} » </h5>
              <span  class="ml-auto "><button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/periodique/{{ id }}">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}} </button>
              </span>
          </div>
        </div>
      <!-- Alert notification div -->
      <div class="alert alert-success alert-dismissible fade show cacherVisible" role="alert" id="alert-archive-add">
        {{ 'message.action-text' | translate}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Alert notification div -->
      <div class="alert alert-warning alert-dismissible fade show cacherVisible" role="alert" id="alert-archive-sup">
        {{ 'message.action-suppression' | translate}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form  #archiveForm="ngForm" name="archiveForm" id="archiveForm" (ngSubmit)="onSubmit(archiveForm)">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="perennite">{{ 'perennite' | translate}} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="perennite" name="perennite" #perennite [(ngModel)]="archive.perennite" >
                <input type="hidden" class="form-control" id="idArchive" name="idArchive" #idArchive [(ngModel)]="archive.idArchive">
                <input type="hidden" class="form-control" id="idRevue" name="idRevue" #idRevue value="{{id}}" >
                <input  class="form-control"  name="action" id="action" type="hidden" *ngIf="idArchive" value="{{action}}"  >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="conserverPap">{{'conservation-papier'| translate }}</label>
                <input type="text" class="form-control" id="conserverPap" name="conserverPap" #conserverPap [(ngModel)]="archive.conserverPap">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="embargo">{{'embargo'| translate }} </label>
                <input type="text" class="form-control" id="embargo" name="embargo" #embargo [(ngModel)]="archive.embargo">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="anneeDebut">{{'annee-debut'| translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="anneeDebut" name="anneeDebut" #anneeDebut  [(ngModel)]="archive.anneeDebut" mask="0000" >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="anneeFin">{{'annee-fin'| translate }} <span class="text-danger">*</span></label>
                <input  type="text" class="form-control" id="anneeFin" name="anneeFin" #anneeFin [(ngModel)]="archive.anneeFin" mask="0000">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="volDebut">{{'volume-debut'| translate }} </label>
                <input type="text" class="form-control" id="volDebut" name="volDebut" #volDebut [(ngModel)]="archive.volDebut">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="volDebut">{{'volume-fin'| translate }} </label>
                <input type="text" class="form-control" id="volFin" name="volFin" #volFin [(ngModel)]="archive.volFin">
              </div>
            </div>

          </div>
          <div class="page-header mt-3">
            <h4 class="mt-3 text-uppercase"></h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#modal-enregistrer"><i class="fa fa-save btn-icon-prepend"></i> {{bouttonAction}}</button>
                  <!-- Modal pour modifier-->
                  <div class="modal fade" id="modal-enregistrer" tabindex="-1" role="dialog" aria-labelledby="modal-enregistrer" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{'message.confirmer-titre'| translate }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {{'message.confirmer-text'| translate }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"> <i class="icon-close btn-icon-prepend"></i>{{'btn-annuler'| translate}}</button>
                          <input type="submit" class="btn btn-primary btn-sm"  value="{{bouttonAction}}" (click)="onFermeModal()">
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </nav>
          </div>
        </form>
        <hr>
      <!-- Garder pour post action -->
      <div class="noVisible" *ngFor="let archive of archives$ | async"></div>
        <div class="card-title ml-3">
            <h4 class="mt-3 titre-initial mb-3"> {{'liste.liste-archive'| translate }}</h4>
        </div>
        <div class="table-responsive ml-3" *ngIf="listeArchives">
            <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100"  >
              <!-- ID Column -->
              <ng-container matColumnDef="idArchive" >
                <th *matHeaderCellDef class="w-10 pl-2"> {{'numero'| translate }} </th>
                <td *matCellDef="let row " class="w-10 p-3" > {{row.idArchive}} </td>
              </ng-container>
              <!-- Titre Column -->
              <ng-container matColumnDef="perennite">
                <th *matHeaderCellDef mat-sort-header class="w-10" > {{'perennite'| translate }} </th>
                <td  *matCellDef="let row" class="w-10" > {{row.perennite}} </td>
              </ng-container>

              <!-- ISSN Column -->
              <ng-container matColumnDef="conserverPap">
                <th *matHeaderCellDef mat-sort-header class="w-10" > {{'type'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.conserverPap}} </td>
              </ng-container>

              <!-- EISSN Column -->
              <ng-container matColumnDef="anneeDebut">
                <th *matHeaderCellDef mat-sort-header class="w-10" > {{'debut'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.anneeDebut}} </td>
              </ng-container>

              <!-- Abonnement Column -->
              <ng-container matColumnDef="anneeFin">
                <th *matHeaderCellDef mat-sort-header  class="w-10" > {{'fin'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.anneeFin}} </td>
              </ng-container>
              <!-- Volume Column -->
              <ng-container matColumnDef="volDebut">
                <th *matHeaderCellDef mat-sort-header class="w-10" > {{'volume-debut'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.volDebut}} </td>
              </ng-container>
              <!-- Volume Column -->
              <ng-container matColumnDef="volFin">
                <th *matHeaderCellDef mat-sort-header class="w-10" > {{'volume-fin'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.volFin}} </td>
              </ng-container>
              <!-- Embargo Column -->
              <ng-container matColumnDef="embargo">
                <th *matHeaderCellDef mat-sort-header  class="w-10"> {{'embargo'| translate }} </th>
                <td  *matCellDef="let row" class="w-10"> {{row.embargo}} </td>
              </ng-container>
              <!-- Consulter Column -->
              <ng-container matColumnDef="modiffier" >
                <th *matHeaderCellDef mat-sort-header  class=" w-10 text-center"> {{'btn-modifier'| translate }} </th>
                <td  *matCellDef="let row" class="w-10 text-center ">
                  <button type="button" class="btn btn-dark btn-rounded btn-icon btn-sm" title="{{'btn-modifier'| translate }}"  (click)="apliquerModifier(row.idArchive)">
                    <i class="icon-note"></i>
                  </button>
                </td>
              </ng-container>
              <!-- Supprimer Column -->
              <ng-container matColumnDef="supprimer" >
                <th *matHeaderCellDef mat-sort-header  class=" w-10 text-center"> {{'btn-supprimer'| translate }} </th>
                <td  *matCellDef="let row" class="w-10 text-center">
                  <button  mat-icon-button (click)="delete(row.idArchive)">
                    <mat-icon  color="warn">
                      delete
                    </mat-icon>
                  </button>
                </td>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </table>

            <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
          </div>
    </div>
      <!-- fin contenu page -->
      <!-- Contenu footer -->
      <app-footer></app-footer>
    </div>
  </div>

