<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <!-- div animation -->
    <div class="content-wrapper b-white" >
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
      <div class="page-header pt-3">
        <div  class="d-sm-flex align-items-baseline report-summary-header w-100 mt-2">
          <h4 class="font-weight-semibold text-uppercase ">{{ 'processus.mise-a-jour-prix' | translate}}</h4>
          <span  class="ml-auto "><button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/processus">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}} </button>
              </span>
        </div>
      </div>
      <!-- div animation -->
      <div id="load-import" class="cacherVisible">
        <div class="loader">...</div>
        <div id="load">{{ 'importation.attendre' | translate}}</div>
      </div>
      <div id="contenu-form">
        <!-- Alert notification div -->
        <div>
          <blockquote class="blockquote blockquote-success">
            <p>{{ 'importation.form-description-csv-prix' | translate}}</p>
          </blockquote>
        </div>
        <form  #importationForm="ngForm" >
          <div class="row mt-5">
            <div class="col-md-2">
              <div class="form-group">
                <label for="annee">{{ 'annee' | translate }} <span class="text-danger"> *</span></label>
                <select name="plateforme" id="annee"  class="form-control" #annee >
                  <option *ngFor="let rep of this.arrayAnnee" >{{rep}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="file" class="form-control mt-4" id="csvFile" #csvFile (change)="uploadListener($event)" accept=".csv">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group cacherVisible"  id="addCsv">
                <button type="button" class="btn btn-success mt-4 cacherVisible" data-toggle="modal" data-target="#modal-enregistrer">
                  <i class="fa fa-send btn-icon-prepend mr-2"></i> {{ 'importation.csv-send' | translate}}</button>
                <button type="button" class="btn btn-outline-dark mt-4 ml-2 cacherVisible" (click)="methodesGlobal.viderInput('csvFile');methodesGlobal.nonAfficher('contenu-resultat')">
                  {{ 'btn-annuler' | translate}}</button>
              </div>
            </div>

          </div>
          <!-- Modal pour modifier-->
          <div class="modal fade" id="modal-enregistrer" tabindex="-1" role="dialog" aria-labelledby="modal-enregistrer" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{ 'processus.btn-csv' | translate}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ 'importation.confirmer-text' | translate}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal"> <i class="icon-close btn-icon-prepend mr-2"></i>{{'btn-annuler'| translate}}</button>
                  <button type="button" class="btn btn-primary btn-sm "  data-dismiss="modal" id="add-boutton" (click)="postArray(records)" ><i class="fa fa-save btn-icon-prepend mr-2"></i> {{'processus.btn-confirme'| translate }}</button></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- progresse bar -->

      <!-- fin progresse bar -->
      <!-- fin contenu form -->
      <div id="contenu-resultat" class="cacherVisible">
        <div class="table-responsive p-3">
          <h4 class=" text-danger"> <i class="icon-bell"></i> {{ 'importation.csv-import-provisoire' | translate}}</h4>
          <table  mat-table
                  [dataSource]="dataSource"
                  class="mat-table mt-3 table-mat-100"
                  matSort >

            <!-- ID Column -->
            <ng-container matColumnDef="IDRevue" >
              <th *matHeaderCellDef mat-sort-header  class="mat-w-10"> {{ 'IDRevue' | translate}} </th>
              <td *matCellDef="let row" class="mat-w-10" > {{row.idRevue}} </td>
            </ng-container>

            <!-- ISSN Column -->
            <ng-container matColumnDef="ISSN" >
              <th *matHeaderCellDef mat-sort-header  class="mat-w-15"> {{ 'ISSN' | translate}} </th>
              <td *matCellDef="let row" class="mat-w-15" > {{row.ISSN}} </td>
            </ng-container>

            <!-- EISSN Column -->
            <ng-container matColumnDef="EISSN" >
              <th *matHeaderCellDef mat-sort-header  class="mat-w-15"> {{ 'EISSN' | translate}} </th>
              <td *matCellDef="let row" class="mat-w-15" > {{row.EISSN}} </td>
            </ng-container>

            <!-- Année Column -->
            <ng-container matColumnDef="annee">
              <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'annee' | translate}} </th>
              <td  *matCellDef="let row" class="mat-w-10" > {{row.annee}} </td>
            </ng-container>

            <!-- prix Column -->
            <ng-container matColumnDef="prix">
              <th *matHeaderCellDef mat-sort-header class="mat-w-10"> {{ 'prix' | translate}} </th>
              <td  *matCellDef="let row" class="mat-w-10" > {{row.prix}} </td>
            </ng-container>


            <!-- note Column -->
            <ng-container matColumnDef="note">
              <th *matHeaderCellDef mat-sort-header  class="mat-w-20"> {{ 'note' | translate}} </th>
              <td  *matCellDef="let row" class="mat-w-20"> {{row.note }} </td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </table>

          <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
          <ul class="cacherVisible">
            <li *ngFor="let record of inUpdatePrix$ |async">{{record}}</li>
          </ul>
          <ul class="cacherVisible">
            <li *ngFor="let proc of addProcessus$ |async">{{processus}}</li>
          </ul>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
