<!-- Integrer le top de chaque page -->
<app-header></app-header>
<!-- Integrer le carcase de chaque page -->
<div class="container-fluid page-body-wrapper">
  <app-menu></app-menu>
  <div class="main-panel">
    <div class="content-wrapper b-white">
      <!-- Contenu de la page liste des periodiques -->
      <!-- Quick Action Toolbar Ends-->
      <div class="page-header pt-3 mt-2">
        <div  class="d-sm-flex align-items-baseline report-summary-header w-100">
          <h4 class="font-weight-semibold titre-initial ">{{ 'rapport.titre-periodique' | translate}}  </h4>
          <span  class="ml-auto "><button type="button" class="btn btn-secondary btn-sm mb-1" routerLink="/accueil">
                <i class="icon-action-undo btn-icon-prepend"></i> {{ 'btn-return' | translate}} </button>
            <button *ngIf="(totalDonnees > 0)" class="btn btn-info btn-sm mb-1 ml-2" (click)="methodesGlobal.ExportTOExcel('table-rapport',fileName);"><i class="fa fa-file-excel-o"></i> {{'btn-export'| translate }}</button>
              </span>
        </div>
      </div>
      <div id="load-import" class="cacherVisible h-100">
        <div class="loader">...</div>
        <div id="load">{{ 'importation.attendre' | translate}}</div>
      </div>
      <div id="page-rapport">
      <form  #rapportForm="ngForm" >
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="plateformePrincipale">{{ 'plateforme' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="plateformePrincipale"
                  name="plateformePrincipale"
                  #plateformePrincipale
                  (valueChange)="implimentationMatFiltre(plateformePrincipale.value,'plateformePrincipale');remplireAutresChampsPeriodiques(plateformePrincipale.value)"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listePlateforme"
                    [value]="rep.titrePlateforme">
                    {{rep.titrePlateforme}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="autrePlateforme">{{ 'plateforme-autre' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="autrePlateforme"
                  name="autrePlateforme"
                  #autrePlateforme
                  (valueChange)="this.implimentationMatFiltre(autrePlateforme.value,'autrePlateforme')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listePlateforme"
                    [value]="rep.titrePlateforme">
                    {{rep.titrePlateforme}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="statut">{{ 'statut' | translate}} </label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="statut"
                  name="statut"
                  #statut
                  (valueChange)="this.implimentationMatFiltre(statut.value,'statut')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.listStatut"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="fournisseur">{{ 'fournisseur' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="fournisseur"
                  name="fournisseur"
                  #fournisseur
                  (valueChange)="this.implimentationMatFiltre(fournisseur.value,'fournisseur')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of listeFounisseurs"
                    [value]="rep.titre">
                    {{rep.titre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="accesCourant">{{ 'accesCourant' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="accesCourant"
                  name="accesCourant"
                  #accesCourant
                  (valueChange)="this.implimentationMatFiltre(accesCourant.value,'accesCourant')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.accesCourant"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="abonnement">{{ 'abonnement' | translate}} </label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="abonnement"
                  name="abonnement"
                  #abonnement
                  (valueChange)="this.implimentationMatFiltre(abonnement.value,'abonnement')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.listAbonnement"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="bdd">{{ 'BDD' | translate}} </label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="bdd"
                  name="bdd"
                  #bdd
                  (valueChange)="this.implimentationMatFiltre(bdd.value,'bdd')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.bdd"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="domaine">{{ 'domaine' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="domaine"
                  name="domaine"
                  #domaine
                  (valueChange)="this.implimentationMatFiltre(domaine.value,'domaine')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.listDomaine"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="secteur">{{ 'secteur' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="secteur"
                  name="secteur"
                  #secteur
                  (valueChange)="this.implimentationMatFiltre(secteur.value,'secteur')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.listSecteurs"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="libreAcces">{{ 'libre-acces' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="libreAcces"
                  name="libreAcces"
                  #libreAcces
                  (valueChange)="this.implimentationMatFiltre(libreAcces.value,'libreAcces')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.listeAcces"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="essentiel2014">{{ 'Essentiel 2014' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="essentiel2014"
                  name="essentiel2014"
                  #essentiel2014
                  (valueChange)="this.implimentationMatFiltre(essentiel2014.value,'essentiel2014')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.essentielListe14"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="essentiel2022">{{ 'Essentiel 2022' | translate}}</label>
              <mat-form-field class="w-100 " >
                <mat-select
                  id="essentiel2022"
                  name="essentiel2022"
                  #essentiel2022
                  (valueChange)="this.implimentationMatFiltre(essentiel2022.value,'essentiel2022')"
                  multiple>
                  <mat-option
                    *ngFor="let rep of this.listeChoixOptions.essentielListe22"
                    [value]="rep.name">
                    {{rep.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!--<div class="col-md-2">
            <div class="form-group">
              <label for="format">{{ 'format' | translate}}</label>
              <select name="format" id="format" class="form-control" #format (change)="this.implimentationFiltre($event)">
                <option value="">{{ 'choisissez' | translate}}</option>
                <option *ngFor="let rep of this.listeChoixOptions.listFormat" [value]="rep.name">{{rep.name}}</option>
              </select>
            </div>
          </div>-->
        </div>
      </form>
        <div class="visible border-top border-bottom mt-2 pt-2 mb-2 pb-2" id="champs-default">
          <div class="row">
            <div class="col-md-2"  *ngFor="let champ of champs" >
              <div class="list-group" >
                <div class="form-check form-check-primary">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="{{ champ }}" value="{{ champ }}" name="{{ champ }}"  (change)="this.creationThTable($event)">{{ champsTitre[champ] }} <i class="input-helper"></i></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9">
            <button type="button" class="btn btn-success  text-uppercase mt-2"  (click)="creerTableauPeriodique(this.methodesGlobal.getValue(plateformePrincipale.value))" >
              <i class="icon-chart icon-layers"></i> {{'rapport.btn-rapport'| translate }}
            </button>
          </div>
        </div>

      <!-- Tableau contenu formulaire-->
      <div class="row" >
        <div class="col-md-12 mt-3 " *ngIf="periodiques$">
          <div class="table-responsive mat-elevation-z8 cacherVisible" id="contenuRapport">
            <div class="d-sm-flex align-items-baseline report-summary-header p-2">
              <h5 class="font-weight-semibold">{{'rapport.total-rapport'| translate }} {{totalDonnees}}</h5> <span class="ml-auto" ></span>
            </div>
            <div class="example-container mat-elevation-z8 w-100" >
              <table   mat-table
                       [dataSource]="dataSource"
                       class="mat-elevation-z8 w-100 p-2"
                       matSort>

                <!-- creation dynamique du tableau -->
                <ng-container  *ngFor="let th of thTableau" matColumnDef="{{th}}">
                  <th *matHeaderCellDef mat-sort-header class="font-weight-bold w-15 pl-3"> {{ champsTitre[th]}} </th>
                  <td *matCellDef="let row" class="w-15 pl-3" ><a *ngIf="(champsTitre[th]=='ID Revue')" title="Consulter la fiche"  routerLink="/periodique/{{ row[th] }}"> {{row[th]}} </a><span *ngIf="(champsTitre[th]!='ID Revue')">{{row[th]}}</span></td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="thTableau"></mat-header-row>
                <mat-row *matRowDef="let row; columns: thTableau;">
                </mat-row>
              </table>
            </div>
          <mat-paginator [pageSizeOptions]="[30, 60, 90, 120]"></mat-paginator>
          </div>
        </div>


      </div>
      </div>
    </div>
    <!-- creation  du tableau pour export-->
    <div class="noVisible" *ngFor="let s of periodiques$ | async"></div>
    <table  class="table cacherVisible"  id="table-rapport" >
      <tr><th *ngFor="let th of thTableau ">{{champsTitre[th]}}</th></tr>
      <tr *ngFor="let periodique of listePeriodique">
        <td *ngFor="let th of thTableau">{{periodique[th]}}</td></tr>
    </table>
    <!-- fin contenu page -->
    <!-- Contenu footer -->
    <app-footer></app-footer>
  </div>
</div>

